<section
    id="contact-us"
    class="max-container flex justify-between items-center max-lg:flex-col gap-10"
>
    <h3 class="text-4xl leading-[68px] lg:max-w-md font-palanquin font-bold">
    Sign Up for<span class="text-coral-red"> Updates </span>& Newsletter
    </h3>
    <div class="lg:max-w-[40%] w-full flex items-center max-sm:flex-col gap-5 p-2.5 sm:border sm:border-slate-gray rounded-full">
        <input type="text" placeholder="subscribe@nike.com" class="input" />
        <div class="flex max-sm:justify-end items-center max-sm:w-full">
            <button class="w-full flex justify-center items-center gap-2 px-7 py-4 border font-montserrat leading-none bg-coral-red rounded-full text-white border-coral-red">
                Sign Up
            </button>
        </div>
    </div>
</section>