<section id="home" class="w-full flex  xl:flex-row flex-col justify-center min-h-screen gap-10 max-container">
    <div class="relative xl:w-2/5 flex flex-col justify-center items-start w-full max-xl:padding-x pt-28">
        <p class="text-xl font-montserrat text-coral-red">Our Summer Collection</p>
        <h1 class="mt-10 font-palanquin text-8xl max-sm:text-[72px] max-sm:leading-[82px] font-bold">
            <span class="xl:bg-white xl:whitespace-nowrap relative z-10 pr-10">The New Arrival</span>
            <br />
            <span class="text-coral-red inline-block mt-3">Nike</span>
            Shoes
        </h1>
        <p class="font-montserrat text-slate-gray text-lg leading-8 mt-6 mb-14 sm:max-w-sm">Discover stylish Nike
        arrivals, quality comfort,
        and innovation for your 
        active life.</p>

        <button class="flex justify-center items-center gap-2 px-7 py-4 border font-montserrat leading-none bg-coral-red rounded-full text-white border-coral-red">
            Shop now
            <img class="ml-2 rounded-full w-5 h-5" src="../../../assets/icons/arrow-right.svg">
        </button>
        
        <div class="flex justify-start items-start flex-wrap w-full mt-20 gap-16">
            <div *ngFor="let st of statistics">
                <p class="text-4xl font-palanquin font-bold">{{st.value}}</p>
                <p class="leading-7 font-montserrat text-slate-gray">{{st.label}}</p>
            </div>
        </div>
    </div>

    <div class="relative flex-1 flex justify-center items-center xl:min-h-screen max-xl:py-40 bg-primary bg-hero bg-cover bg-center">
        <img src="../../../assets/images/big-shoe1.png" alt="shoe-collection" class="w-[610px] h-[500px] object-contain relative z-10">
        <div>
            <div *ngFor="let shoe of shoes">
                <div class="border-2 rounded-xl"></div>
            </div>
        </div>
    </div>
</section>